@lovkyndig:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN_WRITE}

# SOURCES
# https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-npm-registry
# https://www.youtube.com/watch?v=2-77KhGWlRg
# https://stackoverflow.com/questions/58637544/unable-to-login-to-github-package-registry
# https://help.knapsack.cloud/article/83-github-personal-access-tokens-local-dev